{% extends 'base/main.html' %}

{% block content %}
<div class="bg-white min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md p-8 space-y-6">
        <div class="flex flex-col items-center">
            <h1 class="text-4xl font-bold mb-8">Edit Profile <i class="fa-solid fa-pen-nib"></i> </h1>
        </div>
        
        <form class="space-y-6" method="post">
            {% csrf_token %}

            {% for field in form %}
            <div>
                <label class="block text-gray-800 text-lg mb-2">{{field.label}}</label>
                {{field}}
            </div>

            {% for error in field.errors %}
                <p class="text-sm text-red-700">{{error}}</p>
            {% endfor %}

           
            {% endfor %}
        
            
            <div class="pt-2">
                <button type="submit" 
                        class="w-full bg-black text-white py-2 px-4 rounded-md hover:bg-gray-800 transition duration-300">
                    Save
                </button>
            </div>
                
            </div>
        </form>
    </div>
</div>
{% endblock %}
