{% extends 'base/main.html' %}


{% block content %}
<div class="flex w-full m-0 p-0">
  {% include 'base/hunter_navbar.html' %}
  

    <div class="p-20 w-4/5 pt-5 ">
            <form action="" id="search-form">
            <div id="search-form">
                <div class="max-w-sm ml-0 flex flex-row my-5">
                    <input type="search" name="search" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Search Projects...">
                    <button  id="submit" type="submit" hidden><i class="fas fa-search"></i></button>
                </div>
            </div>
        
            <h1 class="text-3xl font-bold mb-5">Active Projects</h1>
        <div class="grid grid-cols-1 gap-2">
            {% for project in projects %}
        
        
            <a href="{% url 'project_page' project.id  %}">
                <div class="rounded-xl border-2 bg-gray-100 p-2 hover:shadow-2xl shadow-md">
                  <div class="flex flex-row justify-left w-max">

                    <div class="w-5/6 flex flex-row w-auto">
                      <div class="w-16 mx-5 ml-2">
                        {% if project.company.profile_image %}
                          <img class="h-auto border-2 border-gray-900 rounded-full" src="{{project.company.profile_image.url}}" alt="pfp">
                        {% else %}
                          <p class="h-auto border-2 border-gray-900 rounded-full bg-blue-600 text-3xl text-white text-center p-2">
                            {{project.company.name|slice:":1"}}
                          </p>
                        {% endif %}
                      </div>

                      <div class="my-auto">
                        <h1 class="text-xl font-semibold">{{project.name}} <span class="text-sm">by {{project.company.name}}  <a href="{{project.website}}" class="text-sm"><i class="fa-solid fa-link"></i></a></span></h1>
                        <p class="text-gray-600">{{project.description}}</p>
                      </div>

                    </div>  

                    <!--Participants number-->
                    <div class="flex flex-row align-center w-1/6 h-auto">
                      <h1 class="text-xl text-gray-600 m-auto font-semibold"><span class="text-black mr-2"><i class="fa-solid fa-user"></i></span> {{project.participants.all | length}}</h1>
                    </div>

                  </div>
                    
                    
                   
                </div>    
        
            </a>
            
        
            {% empty %}
        
            <p>No Active Projects Available Right Now</p>
        
            {% endfor %}
        
    </div>        
</div>


</div>

</div>

{% endblock %}



