{% extends 'base/main.html' %}

{% block content %}

  <!-- Sticky Sidebar -->

  {% include 'base/hunter_navbar.html' %}
  <!-- Main Content -->
  <div class="p-20 w-4/5">

    <div class="flex flex-row justify-between w-full">
      <div>
        <h1 class="text-7xl font-bold">
          {% if profile.profile_image %}
          <img class="w-20 border-4 border-gray-900 rounded-full" src="{{profile.profile_image.url}}" alt="pfp">
          {% endif %}
        </h1>
        <h1 class="text-5xl font-bold">{{profile.name}}</h1>
        <h1 class="text-xl font-semibold">{{profile.education}}</h1>
      </div>

      <div class="flex flex-col my-auto w-1/3">
        <div class="flex flex-row align-bottom justify-center align-bottom">
          <h1 class="text-5xl font-bold self-end"> {{profile.rating |floatformat:1}}</h1>
          <p class="text-gray-400 text-xl ml-2 font-semibold self-end mb-3">/ 10</p>
        </div>
        
        <p class="text-gray-600 text-lg mx-auto"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> Crowdhunt Rating</p>
      </div>
    </div>



    <p class="text-gray-600">{{profile.description}}</p>
    <a href="{% url 'edit_hunter_profile' profile.id %}"><button
        class="rounded-full border-2 border-transparent font-semibold text-white bg-black px-5 py-1 mt-5 hover:text-black hover:bg-white hover:border-gray-900 ">Edit
        Profile <i class="fa-solid fa-pen-nib"></i></button></a>

    <!-- Posts & Stats Flex-->
    <div class="flex flex-row mt-5 justify-between">

      <div class="w-2/3">
        <div class="grid grid-cols-1 gap-3">

          {% for post in posts %}
          <div class="h-auto rounded-lg  bg-gray-100 p-2 shadow-md">
            <div>
              {% if post.post_type == "DISCUSSION" %}
              <button
                class="text-sm rounded-full font-semibold text-white bg-blue-600 px-5 py-1 my-auto mb-2">DISCUSSION</button></a>
              {% else %}
              <button
                class="text-sm rounded-full font-semibold text-white bg-red-700 px-5 py-1 my-auto mb-2">BUG</button></a>
              {% endif %}
            </div>

            <div>

              <div class="flex flex-row align-center py-2">
                <div>
                  {% if post.poster.profile_image %}
                  <img class="w-8 border border-gray-500 rounded-full" src="{{post.poster.profile_image.url}}"
                    alt="pfp">
                  {% else %}
                  <p class="w-8 border border-gray-500 rounded-full bg-blue-600 text-3xl text-white text-center p-2">
                    {{post.poster.name|slice:":1"}}
                  </p>
                  {% endif %}
                </div>
                <p class="my-auto ml-2">{{post.poster.name}} <span class="italic font-light">on <a href="" class="underline font-regular">{{post.project.name}}</a></span></p>

              </div>

              {% if post.image %}
              <div class="container">
                <img class="w-full md:w-2/5 h-auto mb-2" src="{{post.image.url}}" alt="post image">
              </div>


              {% endif %}

              <p class="text-lg font-regular">{{post.text}}...</p>

              {% if post.post_type == "DISCUSSION" %}
              <a href="" class="text-2xl text-gray-600 py-5"><i class="fa-regular fa-comment-dots"></i></a>
              {% endif %}

            </div>




          </div>
          {% empty %}
          <p>No Posts on this Project</p>
          {% endfor %}

        </div>

      </div>

      <div class="w-1/4 relative right-0 top-0 h-auto flex flex-col">
        <div class="bg-gray-100 h-auto py-10 rounded-xl shadow-md">
          <h1  class="w-full md:w-1/2 mx-auto text-3xl font-bold">Stats</h1>
          <div class="w-full md:w-1/2 mx-auto flex flex-col align-left my-2">
            <h1 class="text-5xl font-bold mr-5 ">{{profile.bugs_found}} </h1>
            <p class="text-base font-semibold">Bugs Found</p>
          </div>
      
          <div class="w-full md:w-1/2 mx-auto flex flex-col align-left my-2">
            <h1 class="text-5xl font-bold  mr-5 ">${{profile.rewards_earned|floatformat}} </h1>
            <p class="text-base font-semibold">Rewards Earned</p>
          </div>
       
          <div class="w-full md:w-1/2 mx-auto flex flex-col align-left my-2">
            <h1 class="text-5xl font-bold mr-5 ">{{profile.bugs_found}} </h1>
            <p class="text-base font-semibold">Projects Participated</p>
          </div>
        </div>
        
    
      </div>
    </div>



  </div>


 



</div>

</div>






{% endblock %}