{% extends 'base/main.html' %}


{% block content %}
<div class="flex w-full">
    <!-- Sticky Sidebar -->
    <div class="sticky top-0 left-0 w-48 h-screen bg-gray-900 text-white">
      <ul class="space-y-4 p-4">
        {% if slug|lower == "hunter" %}
        <li>
            <a href="#" class="block py-2 px-4 hover:bg-gray-700 rounded">Your Posts <i class="fa-solid fa-pen-nib"></i> </a>
        </li>
        <li>
          <a href="{% url 'home' 'hunter' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Projects <i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
        <li>
          <a href="{% url 'hunter_profile' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Your Profile <i class="fa-regular fa-circle-user"></i></a>
        </li>

        {% else %}
        <li>
          <a href="{% url 'create_project' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Create Project <i class="fa-solid fa-pen-nib"></i> </a>
        </li>
        <li>
          <a href="{% url 'home' 'company' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Projects <i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
        <li>
          <a href="{% url 'company_profile'  %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Your Profile <i class="fa-regular fa-circle-user"></i></a>
        </li>

        <li>
          <a href="{% url 'bug_dashboard' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Bugs <i class="fa-solid fa-bug"></i> </a>
        </li>
        {% endif %}

        <li>
            <a href="{% url 'logout' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Logout</a>
        </li>
        
      </ul>
    </div>
  
    <!-- Main Content -->
    <div class="p-20 w-4/5">
        {{request.user}}
    
        <h1 class="text-5xl font-bold">{{project.name}}</h1>
        <h1 class="text-xl font-semibold"> <i class="fa-regular fa-circle-user"></i> {{project.company.name}} <a href="{{project.website}}"><i class="fa-solid fa-link"></i></a></h1>
                    
        <p class="text-gray-600">{{project.description}}</p>
        {% if slug|lower == "hunter" %}
        <a href="{% url 'create_post' project.id %}"><button class="rounded-sm font-semibold text-white bg-black px-5 py-1 mt-5 hover:text-black hover:bg-white hover:border-gray-900 ">Post <i class="fa-solid fa-pen-nib"></i></button></a>
        {% else %}
        <p>Company Account</p>
        {% endif %}
        
        <h2 class="mt-5 text-3xl font-semibold  ">Posts</h2>            
        <div class="grid grid-cols-1 gap-2">
    
            {% for post in posts %}
            <div class="rounded-sm border-2 bg-gray-100 p-2 flex flex-row justify-between align-center">
                
               <div>
                <p class="text-xl font-regular">{{post.text|slice:":60"}}...</p>
                <p>{{post.poster.name}}</p>
               </div>
               
              
    
                    <div>
                    {% if post.post_type == "DISCUSSION" %}
                        <button class="text-sm rounded-sm font-semibold text-white bg-blue-800 px-5 py-1 my-auto ">DISCUSSION</button></a>
                    {% else %}
                        <button class="text-sm rounded-sm font-semibold text-white bg-red-600 px-5 py-1 my-auto ">BUG</button></a>
                    {% endif %}
                    </div>
                
            </div>  
            {% empty %}
             <p>No Posts on this Project</p>
            {% endfor %}    
    
            </div>
    
        </div>
    
    </div>
</div>



{% endblock %}






